@import "tailwindcss";

@theme {
  --color-primary: #4f46e5;
  --color-secondary: #ec4899;
}

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scrollbar-color: grey transparent;
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }

  .scrollbar-thumb-gray-400::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.5);
    border-radius: 9999px;
  }

  .scrollbar-track-transparent::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.flex-1 {
  overflow-y: auto;
  flex-grow: 1;
}
